/* para textos 
1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
*/

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;500;600&display=swap");
/* Weights: 500, 600 */

:root {
  /* Colors */
  --violet: hsl(263, 55%, 52%);
  --darkgrey: hsl(217, 19%, 35%);
  --darkblack: hsl(219, 29%, 14%);
  --lightgrey: hsl(0, 0%, 81%);
  --lightblue: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.2;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: var(--lightgrey);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1.5rem; */
}

.testimonial {
  width: min(90%, 105rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 1.5rem;
}

.image {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  border: 2px solid rgb(171, 33, 226);
}

.card {
  border-radius: 1rem;
  padding: 3rem 3rem 2rem 3rem;
}

.card-1 {
  grid-column: 1/3;
  background-color: var(--violet);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 75% 1%;
  overflow: cover;
}

.card-2 {
  background-color: var(--darkgrey);
}

.card-3 {
  background-color: #fff;
  grid-column: 4;
  grid-row: 1/3;
}

.card-4 {
  background-color: #fff;
}

.card-5 {
  background-color: var(--darkblack);
  /* color: #fff; */
  grid-column: 2/4;
}

h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.3;
}

/* colors 

--violet: hsl(263, 55%, 52%);
  --darkgrey: hsl(217, 19%, 35%);
  --darkblack: hsl(219, 29%, 14%);
  --lightgrey: hsl(0, 0%, 81%);
  --lightblue: hsl(210, 46%, 95%);
}*/

.dark-grey {
  color: var(--darkgrey);
}
.light-grey {
  color: var(--lightgrey);
}
.op-50 {
  opacity: 50%;
}
.op-70 {
  opacity: 70%;
}
.light-blue {
  color: var(--lightblue);
}
.name {
  font-size: 13px;
  font-weight: 500;
}
.verified {
  font-size: 11px;
}
